<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<link href="/css/introHCI.css" rel="stylesheet">
	<!--<link href="/css/signin.css" rel="stylesheet">-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/indexLoad.js"></script>
	<style>
	#div1 {
	    width: 350px;
	    height: 70px;
	    padding: 10px;
	    border: 1px solid #aaaaaa;
	}
	</style>
	<script>
	
	function allowDrop(ev) {
    	ev.preventDefault();
	}

	function drag(ev) {
    	ev.dataTransfer.setData("text", ev.target.id);
	}

	function drop(ev) {
    	ev.preventDefault();
    	var data = ev.dataTransfer.getData("text");
    	changeTime(ev);
    	//console.log({{events}});
    	//data.events[]
    	document.getElementById(data).style.top = ev.target.style.top;
    	//ev.target.appendChild(document.getElementById(data));
	}
	</script>

<body>
	<div class="header" align="center">
		<h3><font color="white">Today</font></h3>
		<button type="button" class="btn btn-sm btn-back" style="position: absolute; left:10px; top:0;">
			<!--<i class="material-icons">user</i>-->
     		<a href="profile"><span class="glyphicon glyphicon-user"></span>	</a>
 		</button>
 		<button type="button" class="btn btn-sm btn-back btn-next" style="position: absolute; right:10px; top:0;">
     		<span class="glyphicon glyphicon-plus"></span>	</a>
 		</button>
	</div>
</head>

<!--<body>-->
	<div class="loginPrompt">
		<h3>
			What good is a calendar you keep losing?
		</h3>
		<button id="loginButton" type="button" class="btn btn-default btn-sm btn-back">
      
      		<a href="signOut">Log In!</a>
    
  		</button>
	</div>
	<div id="reschedulePopup" class="reschedulePrompt">
		<h3>
			Reminder
		</h3>
		<button id="rescheduleBeginButton" type="button" class="btn btn-default btn-sm btn-back btn-re">
      	<h2>
      		Start
		</h2>
		<button id="rescheduleConfirmButton" type="button" class="btn btn-default btn-sm btn-back btn-re">
      	<h2>
      		Later
		</h2>       
  		</button>
	</div>

	
	<div class="container addPrompt">
    <h1><font color="white">Task</font></h1>
	<form id-"eventInput">
  		<div class="form-group row">
    		<label for="title" class="col-sm-2 col-form-label"><font color="white">Title</font></label>
    		<div class="col-sm-10">
      		<input type="title" class="form-control" id="titleForm" placeholder="ex. Homework, Laundry, etc.">
    		</div>
  		</div>
  		<div class="form-group row">
    		<label for="start" class="col-sm-2 col-form-label"><font color="white">Start By</font></label>
    		<div class="col-sm-10">
      		<input type="start" class="form-control timepicker" id="startForm">
    		</div>
    		<script>
     		$(document).ready(function(){
        	$('input.timepicker').timepicker({});
      		});
    		</script>
 		 </div>
  		<div class="form-group row sub">
    	<label for="duration" class="col-sm-2 col-form-label"><font color="white">Duration</font></label>
    	<div class="col-sm-10">     
    	<select id="durationForm" class="form-control">
      	<option>0.25 hr</option>
      	<option>0.5 hr</option>
      	<option>0.75 hr</option>
      	<option>1 hr</option>
    	</select>
    	</div>
  		</div>
  	<div class="form-group row">
    <label for="start" class="col-sm-2 col-form-label"><font color="white">Deadline</font></label>
    <div class="col-sm-10">
      <input type="end" class="form-control timepicker" id="endAt">
    </div>
    <script>
     $(document).ready(function(){
        $('input.timepicker').timepicker({});
      });
    </script>
  </div>
  <div class="form-group row">
    <label for="priority" class="col-sm-2 col-form-label"><font color="white">Priority</font></label>
    <div class="col-sm-10">     
    <select id="priorityForm" class="form-control">
      <option>High</option>
      <option>Medium</option>
      <option>Low</option>
    </select>
    </div>
  </div> 
</form>
<div class="buttonHolder">
	<button id="myelement" type="button" class="btn btn-primary btn-add">
      <a href="/">Submit</a>
    </button>
</div>
</div>
	{{#each times}}
		<div id="{{hour}}" class="timeMarker" style="top:{{topHour}}" ondrop="drop(event)" ondragover="allowDrop(event)">
			{{hour}}
		</div>
		<div id="{{hour}}.25" class="subTimeMarker" style="top:{{top15}}" ondrop="drop(event)" ondragover="allowDrop(event)">
			15
		</div>
		<div id="{{hour}}.5" class="subTimeMarker" style="top:{{top30}}"  ondrop="drop(event)" ondragover="allowDrop(event)">
			30
		</div>
		<div id="{{hour}}.75" class="subTimeMarker" style="top:{{top45}}"  ondrop="drop(event)" ondragover="allowDrop(event)">
			45
		</div>
	{{/each}}
	{{#each events}}
      	<div class={{class}} id={{title}} style="height: {{height}}; top:{{top}}" draggable="true" ondragstart="drag(event)">       		
   			<h4>{{title}}</h4>

   		</div>

    {{/each}}	

	<script src="js/bootstrap.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
