<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!--<link href="/css/signin.css" rel="stylesheet">-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/indexLoad.js"></script>
	<style>
	#div1 {
	    width: 350px;
	    height: 70px;
	    padding: 10px;
	    border: 1px solid #aaaaaa;
	}
	</style>
	<script>
	
	function allowDrop(ev) {
    	ev.preventDefault();
	}

	function drag(ev) {
    	ev.dataTransfer.setData("text", ev.target.id);
	}

	function drop(ev) {
    	ev.preventDefault();
    	var data = ev.dataTransfer.getData("text");
    	changeTime(ev);
    	//console.log({{events}});
    	//data.events[]
    	document.getElementById(data).style.top = ev.target.style.top;
    	//ev.target.appendChild(document.getElementById(data));
	}
	</script>

<body>
	<div class="header" align="center">
		<h3><font color="white">Today</font></h3>
		<button type="button" class="btn btn-sm btn-back" style="position: absolute; left:10px; top:0;">
			<!--<i class="material-icons">user</i>-->
     		<a href="profile"><span class="glyphicon glyphicon-user"></span>	</a>
 		</button>
 		<button type="button" class="btn btn-sm btn-back" style="position: absolute; right:10px; top:0;">
     		<a href="task"><span class="glyphicon glyphicon-plus"></span>	</a>
 		</button>
	</div>
</head>

<!--<body>-->
	<div class="loginPrompt">
		<h3>
			What good is a calendar you keep losing?
		</h3>
		<button id="loginButton" type="button" class="btn btn-default btn-sm btn-back">
      
      		<a href="signOut">Log In!</a>
    
  		</button>
	</div>
	<div id="reschedulePopup" class="reschedulePrompt">
		<h3>
			Time to start!
		</h3>
		<button id="rescheduleBeginButton" type="button" class="btn btn-default btn-sm btn-back">
      	<h2>
      		Starting!
		</h2>
		<button id="rescheduleConfirmButton" type="button" class="btn btn-default btn-sm btn-back">
      	<h2>
      		Reschedule
		</h2>       
  		</button>
	</div>
	{{#each times}}
		<div id="{{hour}}" class="timeMarker" style="top:{{topHour}}" ondrop="drop(event)" ondragover="allowDrop(event)">
			{{hour}}
		</div>
		<div id="{{hour}}.25" class="subTimeMarker" style="top:{{top15}}" ondrop="drop(event)" ondragover="allowDrop(event)">
			15
		</div>
		<div id="{{hour}}.5" class="subTimeMarker" style="top:{{top30}}"  ondrop="drop(event)" ondragover="allowDrop(event)">
			30
		</div>
		<div id="{{hour}}.75" class="subTimeMarker" style="top:{{top45}}"  ondrop="drop(event)" ondragover="allowDrop(event)">
			45
		</div>
	{{/each}}
	{{#each events}}
      	<div class={{class}} id={{title}} style="height: {{height}}; top:{{top}}" draggable="true" ondragstart="drag(event)">

       		
   				<h4>{{title}}</h4>
  			
    		
       			
   			</div>
   			<hr>
    {{/each}}	

	<script src="js/bootstrap.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
