<!--Handlebars.registerHelper( "testHelper", function( testVar )) {
	return 'working!';
}-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/indexLoad.js"></script>
	<div class="header">
		<h3>Today</h3>
		<button type="button" class="btn btn-default btn-sm btn-back" style="position: absolute; left:10px; top:0;">
     		<a href="profile"><span class="glyphicon glyphicon-user"></span>	</a>
 		</button>
 		<button type="button" class="btn btn-default btn-sm btn-back" style="position: absolute; right:10px; top:0;">
     		<a href="task"><span class="glyphicon glyphicon-plus"></span>	</a>
 		</button>
	</div>
</head>

<body>
	<!--
	<h1>Home</h1>
	<li><a href="schedule">Your Schedule</a></li>
	<li><a href="help">Help</a></li>
	<li><a href="signOut">Sign Out</a></li>
	<li><a href="profile">Profile</a></li>
	<li><a href="task">Add Task</a></li>
	-->
	<div class="loginPrompt">
		<h3>
			What good is a calendar you keep losing?
		</h3>
		<button id="loginButton" type="button" class="btn btn-default btn-sm btn-back">
      
      <a href="signOut">Log In!</a>
    
  </button>
	</div>
	
	<div class="timeMarker" style="top:60px">
		12
		<div class="subTimeMarker">
				15
				30
				45
		</div>
	</div>
	<div class="timeMarker" style="top:140px">
		1
		<div class="subTimeMarker">
				15
				30
				45
		</div>
	</div>
	<div class="timeMarker" style="top:220px">
		2
		<div class="subTimeMarker">
				15
				30
				45
		</div>
	</div>
	<div class="timeMarker" style="top:300px">
		3
		<div class="subTimeMarker">
				15
				30
				45
		</div>
	</div>
	<div class="timeMarker" style="top:380px">
		4
		<div class="subTimeMarker">
				15
				30
				45
		</div>
	</div>
	<div class="timeMarker" style="top:460px">
		5
		<div class="subTimeMarker">
				15
				30
				45
		</div>
	</div>
	<div class="timeMarker" style="top:540px">
		6
		<div class="subTimeMarker">
				15
				30
				45
		</div>
	</div>
	<div class="timeMarker" style="top:620px">
		7
		<div class="subTimeMarker">
				15
				30
				45
		</div>
	</div>
	{{#each events}}
      		<div class={{class}} style="height: {{height}}; top:{{top}}">

         		<a href"#" class="title">
       				<h4>{{title}}</h4>
       			</a>
       			<p>{{description}}</p>
       			
   			</div>
   			<hr>
    {{/each}}	

	<script src="js/bootstrap.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
